/* body{display:block !important;background:#f8f8f8;padding-top:80px;} */
body{display:block !important;background:#f8f8f8;padding-top:43px;}

.header-strip{
    margin: 0;
    line-height: 43px;
    text-align: left;
    padding: 0 20px;
    font-size: 18px;
    font-weight:500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    color:var(--brand_main);
    z-index: 100;
    box-shadow: 5px 0 17px -9px #a8a8a8;
    font-weight:700;
    box-sizing: border-box;
}

.header-strip  .header-strip-title{
  white-space: nowrap;
}
.header-strip .header-strip-title .home-icon{
  color:var(--brand_main);
  margin-right:10px;
  font-weight: 900;
}
.header-strip  .header-strip-content {
  width: 100%;
}


/* table CSS */
.table {
  font-size: 12px;
  font-weight: 600;
  background: #fff;
  /* box-shadow:0 4px 24px 0 rgb(34 41 47 / 10%); */
}
.table tbody *{
font-size: 12px;
}
.table thead th, .table .sub-table-header th {
/* background: var(--bgsecondary); 
color: #fff;*/
background:var(--table-header);
color: #000;

padding: 6px 11px !important;
text-transform: uppercase;
/* white-space: nowrap; */
height:35px;
font-weight: 700;
}
.table thead th, .table .sub-table-header th, .table thead th span{
color:#000;
font-size: 11px;
font-weight: 700;
}
.table.light thead th {
background:#ffdc00;/* #254087 */
color:#000;/* #000 */;
font-size: 11px;
padding: 6px 11px !important;
text-transform: uppercase;
white-space: nowrap;
height:35px;
}

.table tbody td, .table tfoot td {
  
  vertical-align:middle !important;
  height: 35px;
  white-space: nowrap;
}
.table tbody td:not(.form-group-td), .table tfoot td:not(.form-group-td){
padding: 0em 11px !important;
}
.table tbody td.form-group-td,  .table tfoot td.form-group-td, td.form-group-td {
  padding: 0em !important;
}
.table .form-group {
  margin: 0em;
}

.table tbody td>*, .table tfoot td>* {
  border: none;
  border-radius: 0;
  padding: 0 0px;
  font-size: 11px;
  height: 100%;
}
.table tbody td>span{
display:block;
}
.sub-header{
  padding: 2px 20px 2px 8px;
  width: max-content;
  background-color: #3596c5;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  clear: both;
}
.menuBlock{
  margin-top: 20px;
}
.menuBlock_list{
  width: 250px;
  margin-right: 20px;
  margin-top: 0;
}
.boxBorderBox{box-sizing: border-box;}
.boxBorderBoxAll *{box-sizing: border-box;}


/* Collapse Card */
.collapseCard{
  margin: 5px 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #f0f0f0;
  background-color: #fff;
}
.collapseCard .ant-collapse-header{
  padding: 0px 15px !important;
  min-height: 45px;
  justify-content: center;
  font-family: var(--fontFamily);
  align-items: center !important;
  color: rgba(0, 0, 0, 0.88) !important;
  font-weight: 500;
  font-size: 14px;
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 8px 8px 0 0 !important;
}
.collapseCard .ant-collapse-header .ant-collapse-expand-icon{
  padding-inline-end: 6px !important;
}
.collapseCard .ant-collapse-content {
  border-top: none !important;
  transition: all 0.5s ease-in-out !important;
}
.collapseCard .ant-collapse-content-box{
  padding: 0px 20px 7px 20px !important;
}
.collapseCard .ant-collapse-content-box .ag-theme-alpine {
  padding: 0 !important;
  margin-top: 15px;
  height: 471px !important;
}
.collapseCard .ant-collapse-item .ant-collapse-extra{
  display: none;
}
.collapseCard .ant-collapse-item-active .ant-collapse-extra{
  display: block;
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
}
.collapseCard .ant-collapse-item-active .ant-collapse-extra:before{
  position: absolute;
  content: '';
  left: 0;
  top: 8px;
  width: 2px;
  height: 25px;
  background-color: #ddd;
  
}
/* 21 - 06 */
.collapseCard:not(:first-child) .ant-collapse-header {
  justify-content: start;
} 
.collapseCard:not(:first-child) .ant-collapse-header .ant-collapse-header-text {
  margin-inline-end: 0;     flex: none
}
.customAlert {
  border: 1px dashed #babfc7;
  padding: 7px 18px;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Lexend Deca', sans-serif;
}
.customAlert_icon {
  margin-right: 10px;
}
.customAlert p{
  position: relative;
  margin: 0;
}
.customAlert p.dot{
  padding-left: 15px;
}
.customAlert p.dot::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.88);
  border-radius: 50%;
}
.customAlert p span{
  padding-right: 8px;
}
.customAlert:not(:last-child) {
  margin-bottom: 10px;
}
.check-circle{
  padding-right: 0;
}
.customAlert_icon {
  margin-right: 10px;
  padding-right: 0!important;
}
/* 21 - 06 */


/* 21 - 06 */


.screen-header-group {
  position: sticky;
  top: 43px;
  z-index: 15;
}
.navigation-menus{
  transition: margin 0.1s ease-in-out;
  position: sticky;
  top: 100px;
}
.navigation-menus.sidebarCollapse {
  margin-left: -275px;
}
.navigation-menus.sidebarCollapse ul{
  visibility: hidden;
  opacity: 0;
}
.collpseIcon {
  position: absolute;
  right: -12px;
  top: 50%;
  display: flex;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.navigation-menus:hover .collpseIcon{
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.sidebarCollapse .collpseIcon{
  opacity: 1;
  visibility: visible; 
}
.collpseIcon span {
  padding: 0;
  font-size: 13px;
  padding-bottom: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: #f5f5f5;
  border: 3px solid #1573f6;
  border-radius: 50%;
  justify-content: center;
  color: #000;
}
/* .collpseIcon:hover span{
  border-color: #1573f6;
  border: 3px solid #e8e8e8;
} */
.collpseIcon span:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.statusBox{
  justify-content: flex-end;     height: 100%;
}
.statusBox p b {
  display: block;
  line-height: 1;
  margin-bottom: 3px;
  font-size: 11px;
}
.statusBox p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  margin-right: 15px;
  line-height: 1;
}
.ant-float-btn:focus{
  outline: none;
}
.maxHeightTable{
  padding: 0 !important;
  height: 537px !important;
}

/* KPI Block */
.kpisBlock{
  margin-bottom: 12px;
}
.kpisBlock_item:not(:last-child){
  margin-right: 20px;
}
.kpisBlock_item a{
  display: block;
  background: #fff;
  padding: 10px 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  min-width: 120px;
}
.kpisBlock_item a.active{
  background: #e6ffe7;
}
.kpisBlock_item p{
  margin: 0;
  color: #666; font-size: 14px;
}
.kpisBlock_item h5{
  font-size: 22px; font-weight: 700;
  color: #213547; margin: 0;
}

/* Ant Design Side Drawer Design */
.ant-drawer .ant-drawer-header {
  padding: 9px 15px;
}
.ant-drawer .ant-drawer-footer {
  padding: 4px 15px;
}
.ant-drawer .ant-drawer-body {
  padding: 10px 15px;
}
.ant-drawer-close{padding: 0;}

.formIcon{
  position: relative;
}
.formIcon .formIcon_btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 40px;
  height: 32px;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.88);
}
.formIcon .ant-input {
  padding-right: 40px;
}
.formIcon .formIcon_btn:active,.formIcon .formIcon_btn:hover,.formIcon .formIcon_btn:focus-visible,.formIcon .formIcon_btn:focus{
  outline: 0!important;
  border: none!important;
  color: rgba(0, 0, 0, 0.88)!important;
}

.predefinedFilters {
  background-color: white;
  margin: 0 15px;
  padding: 15px;
  border-radius: 10px;
}

.sidebarList_item {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
  justify-content: space-between;
}
.sidebarList_item_rightbox {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding-left: 10px;
}
.sidebarList_item_rightbox .ms-atuo {
  margin-left: auto;
}
.sidebarList_item_rightbox .ant-color-picker-trigger {
  min-width: auto;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  border: 1px solid #dddddd;
}
.sidebarList_item_rightbox .ant-color-picker-color-block {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.actionBtn svg {
  width: 20px; height: 20px;
  cursor: pointer;
}
.disable svg{
  cursor: not-allowed;
}
.actionBtn svg path {
  fill: #979797;
}
.sidebarList_item:hover {
  background: #f5f5f5; 
 }
 .ant-switch:focus {
  outline:none;
 }
.ant-switch.ant-switch-checked , .ant-switch.ant-switch-checked:hover {
  background: #000 !important;
}
.sidebarList_item_rightbox .ant-color-picker-trigger.ant-color-picker-trigger-active {
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}
.sidebarCollapse {
  font-weight: 700;
  font-size: small;
}

.ant-collapse-border.ant-collapse {
  border: none !important;
}

.ant-collapse-border .ant-collapse-item {
  border-bottom: none !important;
}
.ant-collapse-border .ant-collapse-content {
  border-top: none !important;
}
.ant-collapse-border .ant-collapse-header {
  background-color: #ffffff;
  border-bottom: 1px solid #cdcdcd;
  border-radius: 0 !important;
  font-size: 15px;
  font-weight: 500;
}

.bg-red{
  background-color: red !important;
}

.bg-green {
  background-color: green !important;
}

.btn.icon-btn{
  width: 30px !important; height: 30px !important;
  min-width: auto !important;
}
.settingsBlock{
  height: 100%;
}
.settingsMenu{
  width: 250px;
  height: 100%;
  flex-shrink: 0;
}
.settingsMenu .ant-menu-item{
  padding: 0 15px !important;
  font-weight: 500;
  color: #000;
}
.settingsMenu .ant-menu-item.ant-menu-item-selected{
  background-color: #000;
  color: #fff;
}
.settingsMenu_cnt{
  padding: 12px 15px;
  width: 100%;
}
.settingsMenu_cnt .ant-collapse{
  border: none; background-color: transparent;
}
.settingsMenu_cnt .ant-collapse .ant-collapse-header{
  padding-inline: 0;
}
.settingsMenu_cnt .ant-collapse .ant-collapse-header .ant-collapse-header-text{
  font-weight: 600;
  font-size: 16px;
}
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: unset;
  background: unset;
}
/* .control-group >.controls > .form-control:not(.ant-picker).readonly { */
.control-group >.controls > .form-control.readonly {
  cursor: unset;
  background: transparent;
}
.uiMasterPage{
  padding-top: 55px !important;
}